body{
    margin:0;
    padding: 0;
    height:100vh;
    width:100vw;
    font-family: 'Roboto', sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 15px 0;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.nav-links{
    list-style: none;
    display:flex;
    justify-content:space-evenly;
    padding:0;
    top:0;
    margin-top:10px;
    margin-left:20px;
    gap:10px;
}
.menu-icon{
    display:none;
    color:white;
    position: fixed;
    left:0;
    top:10px;
    z-index:2;
}
.menu-icon:hover{
    color: #03DAC6;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

.nav-links li a:hover {
    color: #03DAC6;
}

/* Hide the checkbox */
#menu-toggle {
    display: none;
}
@media screen and (max-width: 600px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        height:150px;
        top: 40px; /* Adjust based on your navbar height */
        margin-left: 0;
        background-color: #333;
        overflow:hidden;
        max-height: 0px;
        transition: max-height 0.6s ease-in-out;
        z-index:2;
    }
    .nav-links li{
        margin-left:10px;
    }

    .menu-icon {
        display: block;
        margin-left:20px;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        max-height: 300px; /* Adjust based on the number of links */
    }
}

img{
    height:150px;
    width:150px;
    border-radius:100%;
    border-width: 6px;
    border: 3px solid  #03DAC6; 
    
}
.des{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    width:100vw;;
    height:auto;
    gap:10px;
    background-color: #000000;
    padding-top:40px;
}
#name{
    color: #03DAC6;
    margin-bottom:0;
    margin-top:0;
}
#summary{
    
    color:white;
    font-size:1.1rem;
    text-align: center;
    margin-bottom:60px;
    width:80vw;
}
.seperation1{
    height:5px;
    background-color: #03DAC6;
}
.education{
    display:flex ;
    flex-direction: column;
    justify-content:center;

    background-color: #000000;
    height:auto;
}
#title{
    color:#03DAC6;
    text-align:center;
    position:relative;
}
.college{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    font-size:1.1rem;
}
.twelve{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    font-size:1.1rem;
    
}
.ten{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    font-size:1.1rem;
}
p{
    color:white;
    position:relative
}
li{
    color:white;
    list-style: none;
}

p::before{
    position:absolute;
    content:'';
    background: #03DAC6;
    height:2px;
    width:105px;
    bottom:0;
    
}
#institute{
    color:#03DAC6
}
@media screen and (max-width: 758px){
    p::before{
        position:absolute;
        content:'';
        background: #03DAC6;
        height:2px;
        width:52px;
        bottom:0;

}
}
h1{
    color:#03DAC6;
    text-align:center;
}
h2{
    color:white;
    text-align:center;
}
.skills{
    background-color:#000000;
    height:340px;
}
.programming{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap:20px;
}
#lang1{
    color:white;
    position:relative;
}
#lang2{
    color:white;
    position:relative;
}
#lang3{
    color:white;
    position:relative;
}
#lang4{
    color:white;
    position:relative;
}
#lang5{
    color:white;
    position:relative;
}
#lang1::before{
    content:'';
    background: #03DAC6;
    position:absolute;
    height: 2px;
    width:63px;
    bottom:0
}
#lang2::before{
    content:'';
    background: #03DAC6;
    position:absolute;
    height: 2px;
    width:55px;
    bottom:0
}
#lang3::before{
    content:'';
    background: #03DAC6;
    position:absolute;
    height: 2px;
    width:42px;
    bottom:0
}
#lang4::before{
    content:'';
    background: #03DAC6;
    position:absolute;
    height: 2px;
    width:95px;
    bottom:0
}
#lang5::before{
    content:'';
    background: #03DAC6;
    position:absolute;
    height: 2px;
    width:68px;
    bottom:0
}
.Languages{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap:20px;
}
#lang6{
    color:white;
    position:relative;
}
#lang7{
    color:white;
    position:relative;
}
#lang8{
    color:white;
    position:relative;
}
#lang9{
    color:white;
    position:relative;
}

#lang6::before{
    content:'';
    background: #03DAC6;
    position:absolute;
    height: 2px;
    width:66px;
    bottom:0
}
#lang7::before{
    content:'';
    background: #03DAC6;
    position:absolute;
    height: 2px;
    width:46px;
    bottom:0
}
#lang8::before{
    content:'';
    background: #03DAC6;
    position:absolute;
    height: 2px;
    width:94px;
    bottom:0
}
#lang9::before{
    content:'';
    background: #03DAC6;
    position:absolute;
    height: 2px;
    width:68px;
    bottom:0
}

